{% extends "layout.html" %}
{% block content %}
<header>
  <div class="container">
    <div class="header-left">
      <h1 class="logo">SUGAO</h1>
    </div>
    <span class="fa fa-bars menu-icon"></span>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="manual">使い方</a>
    </div>
  </div>
</header>
<div class="top-wrapper">
  <div class="container">
    <h1>使い方</h1>
		<p>使い方は簡単です。</p>
  </div>
</div>
<div class="fig-wrapper">
  <div class="container">
    
  </div>
</div>
<footer>
  <div class="container">
    <p>Let's make memories!</p>
  </div>
</footer>
{% endblock %}