{% extends "layout.html" %}
{% block content %}
<div class="top-wrapper">
  <div class="container">
    <h1>使い方</h1>
		<p>誰でも簡単に使えます。</p>
  </div>
</div>
<div class="manual-wrapper">
  <div class="container">
    <div class="heading"></div>
    <div class="manual-contents">
      <div class="manual-content">
        <div class="manual-fig">
          <img src="#">
        </div>
        <p class="text-contents">①Homeで画像を選択</p>
      </div>
      <div class="manual-content">
        <div class="manual-fig">
          <img src="#">
        </div>
        <p class="text-contents">②変換ボタンを押す</p>
      </div>
      <div class="manual-content">
        <div class="manual-fig">
          <img src="#">
        </div>
        <p class="text-contents">③結果が表示される</p>
      </div>
      <div class="manual-content">
        <div class="manual-fig">
          <img src="#">
        </div>
        <p class="text-contents">④表示された画像を任意で保存</p>
      </div>
      <div clas="clear"></div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <p>Let's make memories!</p>
  </div>
</footer>
{% endblock %}