/* タブレット向けレイアウト */
@media all and (max-width: 1000px) {
    .manual-content {
      width: 50%;
      margin-bottom: 50px;
    }
  
    footer {
      text-align: center;
    }
  
    .top-wrapper h1 {
      font-size: 60px;
    }
  
    .heading h2 {
      font-size: 20px;
    }

    .img-top {
      padding-top: 80px;
      width: 80%;
    }
  }
  
  /* スマホ向けレイアウト */
  @media all and (max-width: 670px) {
    .manual-content {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .img-top {
      padding-top: 40px;
    }
    
    .top-wrapper {
      text-align: left;
      padding-top: 80px;
      padding-bottom: 80px;
    }

    .hamburger-menu {
      display: block;
    }
  
    .header-right {
      display: none;
    }

    .top-wrapper h1 {
      font-size: 30px;
    }

    .top-wrapper h2 {
      font-size: 24px;
    }
  
    .top-wrapper p {
      font-size: 14px;
    }
  }