* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .clear {
    clear: left;
  }
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .top-wrapper {
    padding: 160px 0;
    background-size: cover;
    background-color: rgba(235, 235, 235, 0.8);
    text-align: center;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 80px;
    letter-spacing: 7px;
  }

  .top-wrapper h2 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
  }
  
  .top-wrapper span {
    color:#ee2769c0;
  }

  .top-wrapper p {
    opacity: 0.7;
  }
  
  .btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(133, 220, 238, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    width: 124px;
    margin-top:auto;
    font-size: 46px;
  }
  
  .header-left {
    line-height: 65px;
    padding: 0 25px;
    color: rgba(0, 0, 0, 0.8);
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
  }
  
  .heading {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #5f5d60;
  }
  
  .heading h2 {
    font-weight: normal;
  }
  
  .text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 13px;
    color: #b3aeb5;
  }
  
  .fig-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #5dca88;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }

  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }

  footer {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
  }